<style>
    #menu {
        list-style-type: square;
        color: lightgrey;
    }
    #menu li {
        border-bottom: solid 1px lightgrey;
        padding: 3px;
        color: lightgrey;
    }
    #menu a {
        color: #444;
        display:block;
        text-align:left;
    }
    #menu a:hover {
        background-color: lightgrey;
    }
</style>
<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/charts">Charts</a></li>
    <li><a href="/definitions">Definitions</a></li>
    <li><a href="/guide">Stratigraphic Guide</a></li>
    <li><a href="/major-divisions">Major Divisions</a></li>
    <li><a href="/regional-divisions">Regional Divisions</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/working-groups">Working Groups</a></li>
</ul>

    
    
    
    
    
    
    
    
    
    
    
    

